PORT=5000
NODE_ENV=development
JWT_SECRET=your_super_jwt_secret_key_change_me_in_production
JWT_EXPIRES_IN=7d

DATABASE_URL="mysql://root:password@localhost:3306/assetflow"

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
